.loginModalGreyBg {
  position: fixed;
  left:0;
  opacity: 0.51;
  background-color: #000000;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.loginPopup {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 480px;
  height: 341px;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14);
  z-index: 3;
}

.mdClose {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 300px;
  left: 440px;
  right: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 2;
}

.loginPopupLogo {
  position: relative;
  background-image: url('../../asset/usernav/loginModalLogo.svg');
  margin: 60px 0 0 127px;
  width: 220px;
  height: 76px;
  background-repeat: none;
}

.hisOauthLoginWrapper {
  position: relative;
  margin: 59px 0 0 32px;
  width: 416px;
  height: 176px;
}

.oauthLoginBox {
  width: 416px;
  height: 48px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.googleLogin{
  border: none;
  border-radius: 2px;
  color: #ffffff00;
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 5px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
  background-image: url('../../asset/img/googlelogo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.kakaoLogin {
  margin: 16px 0;
  border: none;
  border-radius: 2px;
  color: #ffffff00;
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
  background-image: url('../../asset/img/kakologo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* 애매한 크기 */
@media (max-width: 1188px) {
  .loginPopup {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 360px;
    height: 340px;
  }
  .mdClose {
    margin: auto;
    top: 0;
    bottom: 300px;
    left: 325px;
    right: 0;
  }
  .loginPopupLogo {
    top: 10px;
    left: -53px;
  }
  .hisOauthLoginWrapper {
    top: 5%;
    left: -0.6%;
  }
  .oauthLoginBox {
    width: 300px;
    height: 40px;
    font-size: 14px;
  }
}
/* 컴퓨터에서 줄였을 때 */
@media (max-width: 943px) {
  .loginPopup {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 360px;
    height: 340px;
  }
  .mdClose {
    margin: auto;
    top: 0;
    bottom: 295px;
    left: 320px;
    right: 0;
  }
  .loginPopupLogo {
    top: 10px;
    left: -53px;
  }
  .hisOauthLoginWrapper {
    top: 4.5%;
    left: -0.5%;
  }
  .oauthLoginBox {
    width: 300px;
    height: 40px;
    font-size: 14px;
  }
}
/* 아이패드 크기 */
@media (max-width: 768px) {
  .loginPopup {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    height: 275px;
  }
  .mdClose {
    margin: auto;
    top: 0;
    bottom: 230px;
    left: 260px;
    right: 0;
  }
  .loginPopupLogo {
    width: 145px;
    height: 50px;
    top: 5px;
    left: -48px;
  }
  .hisOauthLoginWrapper {
    top: -2%;
    left: -4%;
  }
  .oauthLoginBox {
    width: 260px;
    height: 36px;
    font-size: 12px;
  }
}
/* 컴퓨터 최소화 */
@media (max-width: 592px) {
  .loginPopup {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .mdClose {
    margin: auto;
    top: 0;
    bottom: 235px;
    left: 260px;
    right: 0;
  }
}
/* 핸드폰 크기 */
@media (max-width: 414px) {
  .loginPopup {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 210px;
    height: 205px;
  }
  .mdClose {
    margin: auto;
    top: 0;
    bottom: 170px;
    left: 180px;
    right: 0;
  }
  .loginPopupLogo {
    width: 73px;
    height: 25px;
    top: -5px;
    left: -54px;
  }
  .hisOauthLoginWrapper {
    width: 200px;
    top: -13%;
    left: -8%;
  }
  .oauthLoginBox {
    width: 180px;
    height: 26px;
    font-size: 10px;
  }
}