.novelDetailWrapper{
  width: 943px;
  height: 339px;
  margin: 88px 0px;
}

.novelHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
}

.novelDetailTitle{
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 8px;
}

.novelDetailAuthor{
  color: #464646;
  font-size: 16px;
}

.novelHeaderButtons{
  display: flex;
  align-items: center;
  font-size: 32px;
}

.novelHeaderButtons > div{
  margin-right: 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.aTagComment{
  height: 58px;
}

.novelHeaderButtons > div:last-child{
  margin-right: 10px;
}

.novelCommentsButton{
  font-size: 16px;
  color: #464646;
  text-align: center;
}

.novelLikesButton, .novelShareButton{
  margin-top: 8px;
  font-size: 16px;
  color: #464646;
}

.novelDetailGreyLine{
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
  margin-top: 16px;
  margin-bottom: 32px;
  display: flex;
  justify-content: flex-end;
}

.novelDetailInfo{
  display: flex;
  align-items: space-between;
}

.novelDetailThumbnail{
  background-image: url('https://user-images.githubusercontent.com/72306693/108985620-99c68280-76d4-11eb-9305-50ef35e77c93.png');
  width: 304px;
  height: 209px;
  margin-right: 16px;
}

.novelDetailLikes{
  display: flex;
  font-size: 14px;
  color: #464646;
}

.novelDetailLikes >div:last-child{
  color: #2679fe;
  margin-left: 16px;
}

.novelDetailCloud{
  display: flex;
  align-items: center;
}

.novelDetailCloudSVG{
  background-image: url('../../asset/mainpage/cloudImg.svg');
  width: 12px;
  height: 8px;
  margin: 0 0 2px 3px;
}

.novelDetailDescription{
  width: 624px;
  margin-top: 8px;
  margin-bottom: 16px;
  color: #464646;
}

.firstEpisodeButton{
  width: 166px;
  height: 40px;
  border: 1px solid #2b79fe;
  color: #2b79fe;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

/* 컴퓨터에서 줄였을 때 */
@media (max-width: 943px) {
  .novelDetailWrapper{
    width: 692px;
  }
  .novelDetailDescription{
    width: 400px;
  }
}
/* 아이패드 크기 */
@media (max-width: 768px) {
  .novelHeaderButtons > div{
    font-size: 25px;
    margin-right: 20px;
  }
  .novelDetailDescription{
    width: 400px;
    margin-bottom: 32px;
    font-size: 16px;
  }
  .novelDetailThumbnail{
    margin-bottom: 32px;
    width: 304px;
  }
  .aTagComment{
    height: 51px;
  }
}

/* 아이패드부터 스마트폰(max) 크기 */
@media (max-width: 740px) {
  .novelDetailWrapper{    
    width: 370px;
  }
  .novelHeader{
    flex-direction: column;
  }
  .novelDetailInfo{
    display: flex;
    flex-direction: column;
    width: 370px;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .novelDetailThumbnail{
    margin: 0;
    margin-bottom: 32px;
    width: 304px;
  }
  .novelDetailAuthor{
    text-align: center;
    margin: 10px 0;
  }
  .novelHeaderButtons > div{
    font-size: 25px;
    margin-right: 32px;
  }
  .novelDetailDescription{
    width: 100%;
  }
  .lastUserWrapper{
    margin-top: 280px;
  }
  .novelDetailGreyLine{
    justify-content: center;
  }
  .aTagComment{
    height: 51px;
  }
  .emptySpaceNovelInfo{
    height: 200px;
  }
}