.MyWorksMainPageNovelWrapper {
    display: flex;
    flex-flow: column wrap;
    margin: 32px 0 0 0;
  }
  
  .MyWorksMainPageNovelWrapper:nth-last-child(1) {
    margin-bottom: 56px;
  }
  
  .MyWorksMainNovelTextWrapper {
    display: flex;
    justify-content: space-between;
  }
  
  
  .MyWorksMainNovelMoreView {
    width: 50px;
    height: 26px;
    font-size: 14px;
    font-weight: bold;
    color: #464646;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }
  
  .MyWorksMainNovelInnerWrapper {
    margin: 16px 0 0 0;
    width: 960px;
    display: inline-flex;
    flex-flow: row wrap;
    gap: 16px;
  }

  .MyEmptyBtn {
    box-sizing: border-box;
    margin-top: 48px;
    margin-bottom:48px;
    width: 224px;
    height: 44px;
    background-color: #b8b8b8;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
    cursor: pointer;
  }

  .MyEmptyBtn:hover {
    background-color: #2b79fe
  }
  
  /* 컴퓨터에서 줄였을 때 */
  @media (max-width: 943px) {
    .MyWorksMainNovelInnerWrapper {
      width: 800px;
    }
  }

  /* 아이패드 크기 */
  @media (max-width: 767px) {
    .MyWorksMainNovelInnerWrapper {
      width: 469px;
    }
  }
  /* 스마트폰(max) 크기 */
  @media (max-width: 414px) {
    .MyWorksMainNovelInnerWrapper {
      width: 370px;
      margin: 16px 0 0 3px;
      gap: 5px;
    }
    .mainNovelWrapperSubject {
      position: relative;
      left: 3px;
    }
    .MyWorksMainNovelTextWrapper {
      position: relative;
      left: 3px;
      width: 363px;
    }
  }
  