.wholeHistoryNovelWrapper {
  width: 952px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: auto;
}

.historyNovelInnerWrapper {
  display: flex;
  flex-flow: row wrap;
  margin-top: 48px;
  margin-bottom: 88px;
  gap: 16px
}

/* 컴퓨터에서 줄였을 때 */

@media (max-width: 951px) {
  .historyNovelInnerWrapper {
    margin-bottom: 100px;
  }
  .wholeHistoryNovelWrapper {
    width: 704px;
  }
}
/* 아이패드 크기 */
@media (max-width: 767px) {
  .wholeHistoryNovelWrapper {
    width: 468px;
  }
}

/* 애매한 크기 */
@media (max-width:467px) {
  .wholeHistoryNovelWrapper {
    width: 376px;
  }

}
/* 스마트폰(max) 크기 */
@media (max-width: 414px) {
  .wholeHistoryNovelWrapper {
    width: 356px;
  }
}
