.novelHisList {
  width: 224px;
  height: 287px;
  border-radius: 2px;
  border: solid 1px #e9e9e9;
}

.hisThumbnail {
  padding: 0;
  width: 224px;
  height: 140px;
}

.MynovelListCompleteObject {
  position: absolute;
  margin: 12px 0 0 12px;
  border: 1px #d0800d solid;
  border-radius: 11.5px;
  background-color: #d0800d;
  width: 47px;
  height: 19px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeNovelListContentWrapper {
  margin: 17px 16px;
  width: 192px;
  height: 67px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.goNovelEpisode{
  box-sizing: border-box;
  width: 224px;
  height: 46px;
  padding: 13px 51px 12px;
  border: solid 1px #2b79fe;
  border-radius: 2px;
  background-color: #FFFFFF;
  display:table-cell;
  text-align: center;
  vertical-align:middle;
  font-size: 16px;
  font-weight: bold;
  color: #2b79fe;
}

.goNovelEpisode:hover{
  box-sizing: border-box;
  width: 224px;
  height: 46px;
  padding: 13px 51px 12px;
  border-radius: 2px;
  background-color: #2b79fe;
  display:table-cell;
  text-align: center;
  vertical-align:middle;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.countCloud {
  width: 91px;
  height: 17px;
  display: flex;
  align-items: center;
}

.countCloudText {
  font-size: 12px;
  font-weight: 500;
  color: #2b79fe;
}

.countCloudImg {
  margin: 0 0 2px 3px;
  width: 12px;
  height: 8px;
  background-image: url('../../../asset//mainpage/cloudImg.svg');
}

.novelListSubjectWrapper {
  position: relative;
  left: -1px;
  width: 190px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HomeNovelListSubject {
  margin: 3px 0 0 0;
  width: 190px;
  height: 24px;
  font-size: 16px;
  font-weight: bold;
  color: #202020;
  display: flex;
  align-items: center;
}

.novelListNewObject {
  position: absolute;
  margin: 0px 0 0 145px;
  border: 1px #2b79fe solid;
  border-radius: 11.5px;
  background-color: #2b79fe;
  width: 47px;
  height: 19px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeNovelListAuthorFavWrapper {
  width: 197px;
  height: 17px;
  display: flex;
  justify-content: space-between;
}

.novelListAuthor {
  width: 129px;
  height: 17px;
  font-size: 12px;
  color: #7e7e7e;
  display: flex;
  align-items: center;
}

.novelListFavorite {
  width: 47px;
  height: 17px;
  font-size: 12px;
  color: #7e7e7e;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 애매한 크기 */
@media (max-width:467px) {
  .novelHisList {
    width: 178px;
    height: 258px;
  }
  .hisThumbnail{
    width: 178px;
    height: 140px;
  }
  .novelListNewObject {
    margin: 0px 0 0 120px;
  }
  .goNovelEpisode {
    font-size: 12px;
    padding: 9px 40px 8px;
  }
  .homeNovelListContentWrapper {
    width: 173px;
    margin: 5px 0 0 5px;
  }
  .homeNovelListAuthorFavWrapper {
    width: 177px;
  }
}
/* 스마트폰(max) 크기 */
@media (max-width: 414px) {
  .novelHisList {
    width: 168px;
    height: 258px;
  }
  .novelListCompleteObject {
    font-size: 11px;
    width: 43px;
    height: 15px;
  }
  .hisThumbnail{
    width: 168px;
    height: 140px;
  }
  .goNovelEpisode{
    font-size: 12px;
    padding: 9px 40px 8px;
  }
  .homeNovelListContentWrapper {
    width: 173px;
    margin: 5px 0 0 5px;
  }
  .countCloudText {
    font-size: 12px;
  }
  .novelListSubjectWrapper {
    width: 173px;
  }
  .HomeNovelListSubject {
    margin: 7px 0 0 1px;
    line-height: 4px;
    font-size: 15px;
  }
  .novelListNewObject {
    left: -5px;
    font-size: 11px;
    width: 43px;
    height: 15px;
  }
  .homeNovelListAuthorFavWrapper {
    width: 164px;
  }
  .novelListAuthor {
    font-size: 11px;
  }
  .novelListFavorite {
    position: relative;
    width: 42px;
    left: 3px;
    font-size: 10px;
  }
}