.footer {
  background-color: #000000;
  width: 100%;
  height: 398px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footerInnerBox {
  flex: 0 1 auto;
  width: 960px;
  height: 254px;
  display: flex;
}

.footerLogoWrapper {
  flex: 1 1 192px;
}

.footerLogo {
  width: 59px;
  height: 79px;
  background-image: url('../asset/landingpage/footerLogo.svg');
}

.footerWrapper {
  flex: 4 1 auto;
  display: flex;
  flex-direction: column;
}

.footerFirstLine {
  width: 100%;
  height: 50%;
  display: flex;
  color: white;
}

.firstFooterText {
  height: 35px;
  font-size: 24px;
  font-weight: bold;
}

.companyWrapper {
  margin: 0 40px 0 0;
}

.KUDAPACH_TODOLIST {
  margin: 0 0 10px 0;
}

.footerSecondLine {
  color: #ffffff;
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.teamMembersText {
  height: 35px;
  font-size: 24px;
  font-weight: bold;
}

.teamMemberBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.teamMembersWrapper {
  font-size: 16px;
  width: 180px;
}

.teamMembersWrapper > a,
.companyWrapper > a,
.productWrapper >a {
  color: #ffffff;
}

.memberName {
  margin: 6px 0;
}

/* 컴퓨터에서 줄였을 때 */
@media (max-width: 943px) {
  .footer {
    height: 470px;
  }
  .footerInnerBox {
    width: 402px;
    height: 328px;
  }
  .teamMembersWrapper {
    margin: 20px 0 0 0;
  }
  .footerLogoWrapper {
    position: relative;
    width: 59px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
  }
  .footerFirstLine {
    position: relative;
    width: 310px;
    left: 30px;
  }
  .footerSecondLine {
    position: relative;
    left: -55px;
    height: 210px;
    width: 400px;
  }
}
/* 아이패드 크기 */
@media (max-width: 768px) {
  .footer {
    height: 470px;
  }
  .footerInnerBox {
    width: 500px;
    height: 328px;
  }
  .footerWrapper {
    width: 340px;
  }
  .footerLogoWrapper {
    left: -97px;
  }
  .footerFirstLine {
    left: -56px;
  }
  .teamMembersWrapper {
    margin: 20px 0 0 0;
  }
}
/* 핸드폰 크기 */
@media (max-width: 414px) {
  .footer {
    height: 700px;
  }
  .footerLogoWrapper {
    justify-content: flex-start;
    width: 30px;
    top: -60px;
    left: 0;
  }
  .footerInnerBox {
    flex: 0 1 340px;
    height: 500px;
  }
  .footerWrapper {
    position: relative;
    left: -147px;
    width: 100px;
  }
  .footerFirstLine {
    position: relative;
    top: 50px;
    left: -50px;
    width: 200px;
  }
  .companyWrapper {
    margin: 0 20px 0 0;
  }
  .footerSecondLine {
    position: relative;
    top: 50px;
    left: -50px;
    width: 340px;
    height: 480px;
    display: flex;
  }
}