.footer {
  background-color: #000000;
  height: 398px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerInnerBox {
  width: 960px;
  height: 254px;
  display: flex;
}

.footerLogoWrapper {
  flex: 1 1 192px;
}

.footerLogo {
  width: 59px;
  height: 79px;
  background-image: url('../asset/landingpage/footerLogo.svg');
}

.footerWrapper {
  flex: 4 1 768px;
  display: flex;
  flex-direction: column;
}

.footerFirstLine {
  width: 100%;
  height: 50%;
  display: flex;
  color: white;
}

.firstFooterText {
  height: 35px;
  font-size: 24px;
  font-weight: bold;
}

.companyWrapper {
  margin: 0 40px 0 0;
}

.KUDAPACH_TODOLIST {
  margin: 0 0 10px 0;
}

.footerSecondLine {
  color: #ffffff;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.teamMembersText {
  height: 35px;
  font-size: 24px;
  font-weight: bold;
}

.teamMemberBox {
  display: flex;
  justify-content: space-between;
}

.teamMembersWrapper {
  font-size: 16px;
  width: 180px;
}

.teamMembersWrapper > a,
.companyWrapper > a,
.productWrapper >a {
  color: #ffffff;
}

.memberName {
  margin: 6px 0;
}