.mainpageContentWrapper {
  border-top: solid 1px #f2f2f2;
  width: 943px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0 auto;
}

.sliderWrapper {
  margin: 36px 0 0 0;
  width: 943px;
  height: 303px;
  background-image: url('../asset/mainpage/slider.png');
}

.sliderText {
  margin: 78px 0 0 92px;
  width: 174px;
  height: 147px;
}

.sliderText > p {
  color: #ffffff;
  margin: 0;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.36;
}

.sliderText > p:nth-child(1) > span:nth-child(1) {
  font-weight: bold;
}

.sliderText >p:nth-last-child(1) {
  font-weight: bold;
}

/* 컴퓨터에서 줄였을 때 */
@media (max-width: 943px) {
  .mainpageContentWrapper,
  .sliderWrapper {
    width: 700px;
  }
}

/* 아이패드 크기 */
@media (max-width: 767px) {
  .mainpageContentWrapper,
  .mainNovelTextWrapper,
  .sliderWrapper {
    width: 469px;
  }
}
/* 핸드폰 크기 */
@media (max-width: 414px) {
  .mainpageContentWrapper,
  .mainNovelTextWrapper,
  .sliderWrapper {
    width: 370px;
  }
  .mainPageNovelWrapper {
    width: 370px;
  }
}