.mainpageContentWrapper {
  border-top: solid 1px #f2f2f2;
  width: 943px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0 auto;
}

.sliderWrapper {
  margin: 36px 0 0 0;
  width: 943px;
  height: 303px;
  /* background-image: url('../asset/mainpage/slider.png'); */
}

.sliderText {
  margin: 78px 0 0 92px;
  width: 174px;
  height: 147px;
}

.sliderText > p {
  color: #ffffff;
  margin: 0;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.36;
}

.sliderText > p:nth-child(1) > span:nth-child(1) {
  font-weight: bold;
}

.sliderText >p:nth-last-child(1) {
  font-weight: bold;
}

.slideImg1 {
  background-image: url(../pages/sliderComponent/slider1.jpg);
}
.slideImg2 {
  background-image: url(../pages/sliderComponent/slider2.jpg);
}
.slideImg3 {
  background-image: url(../pages/sliderComponent/slider3.jpg);
}
.slideImg4 {
  background-image: url(../pages/sliderComponent/slider4.jpg);
}
.slideImg5 {
  background-image: url(../pages/sliderComponent/slider5.jpg);
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.6;
}
.swiper-pagination-bullet-active {
  background: white !important;
  opacity: 1;
}

/* 컴퓨터에서 줄였을 때 */
@media (max-width: 943px) {
  .mainpageContentWrapper,
  .sliderWrapper {
    width: 700px;
  }
}

/* 아이패드 크기 */
@media (max-width: 767px) {
  .mainpageContentWrapper,
  .mainNovelTextWrapper,
  .sliderWrapper {
    width: 469px;
  }
}
/* 핸드폰 크기 */
@media (max-width: 414px) {
  .mainpageContentWrapper,
  .mainNovelTextWrapper,
  .sliderWrapper {
    width: 370px;
  }
  .mainPageNovelWrapper {
    width: 370px;
  }
  .slideImg1 {
    background-image: url(../pages/sliderComponent/slider1_m.jpg);
  }
  .slideImg2 {
    background-image: url(../pages/sliderComponent/slider2_m.jpg);
  }
  .slideImg3 {
    background-image: url(../pages/sliderComponent/slider3_m.jpg);
  }
  .slideImg4 {
    background-image: url(../pages/sliderComponent/slider4_m.jpg);
  }
  .slideImg5 {
    background-image: url(../pages/sliderComponent/slider5_m.jpg);
  }
}