.greyLine1,
.greyLine2,
.greyLine3 {
  position: absolute;
  left: 25%;
  width: 1px;
  height: 5510px;
  opacity: 0.15;
  background-color: #d8d8d8;
}

.greyLine2 {
  left: 50%;
}

.greyLine3 {
  left: 75%;
}

.landingHeader {
  height: 1010px;
}

.landingMenuBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  z-index: 1;
}

.landingMenuToolBox {
  flex: 0 1 980px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.landingHeaderLogo,
.landingHeaderStart {
  width: 75px;
  height: 24px;
  margin: 0 10px;
  cursor: pointer;
}

.landingHeaderLogo {
  background-image: url('../asset/landingpage/landingLogo.svg');
}

.landingHeaderStart {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.landingHeaderContent{
  height: 1020px;
  background-image: url('../asset/landingpage/header.png');
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingHeaderText {
  width: 961px;
  position: relative;
  /* left: 477px;
  top: 400px; */
}

.landingHeaderText > p {
  margin: 16px 0;
  font-size: 380%;
  color: #ffffff;
}

.landingContent {
  background-color: #1e2024;
  height: 4459px;
}

.landingBestNovel {
  height: 1730px;
  margin: 0;
}

.landingBestNovelText {
  position: relative;
  width: 427px;
  height: 266px;
  top: 153px;
  left: 25%;
}

.LBNTbold > p{
  margin: 10px 0;
  color: #ffffff;
  font-size: 64px;
  font-weight: 400;
}

.LBNTbold > p:nth-last-child(1) {
  font-weight: bold;
}

.LBNTlight {
  margin: 10px 0 0 0;
}

.LBNTlight > p {
  margin: 10px 0;
  color: #9f9f9f;
  font-size: 24px;
  font-weight: 400;
}

.LBNTbestNovelList {
  /* border: 1px red solid; */
  position: relative;
  top: 235px;
  left: 25%;
  width: 1440px;
  height: 1224px;
  display: flex;
}

.LBNT1,
.LBNT2,
.LBNT3 { 
  flex: 1 1 479px;
  height: 992px;
  cursor: pointer;
}

.LBNT2 {
  margin-top: 80px;
}

.LBNT3 {
  margin-top: 160px;
}

.LBNT1-thumb,
.LBNT2-thumb,
.LBNT3-thumb {
  margin: 0;
  width: 479px;
  height: 693px;
  opacity: 0.6;
}

.LBNT1-thumb:hover,
.LBNT2-thumb:hover,
.LBNT3-thumb:hover {
  opacity: 1;
}

.LBNT1-thumb {
  background-image: url('../asset/landingpage/fakeBest1.png');
}
.LBNT2-thumb {
  background-image: url('../asset/landingpage/fakeBest2.png');
}
.LBNT3-thumb {
  background-image: url('../asset/landingpage/fakeBest3.png');
}

.LBNT1-stamp,
.LBNT2-stamp,
.LBNT3-stamp {
  position: relative;
  top: 607px;
  left: 411px;
  width: 38px;
  height: 54px;
  background-image: url('../asset/landingpage/cloudStamp.svg');
}

.LBNT1-text,
.LBNT2-text,
.LBNT3-text {
  margin: 24px 0 0 0;
  width: 312px;
  height: 275px;
}

.LBNT1-subject,
.LBNT2-subject,
.LBNT3-subject {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.LBNT1-description,
.LBNT2-description,
.LBNT3-description {
  font-size: 16px;
  font-weight: 500;
  color: #7e7e7e;
}

.landingWriteNovel {
  border: 1px #808080 solid;
  height: 864px;
}

.landingWatchFunction {
  border: 1px #808080 solid;
  height: 1216px;
  margin: 250px 0;
}

.footer {
  border: 1px green solid;
  height: 498px;
}