.landingHeader {
  border: 1px red solid;
  height: 1048px;
}

.landingMenuBar{
  border: 1px #808080 solid;
  height: 48px;
}

.landingHeaderContent{
  border: 1px #808080 solid;
  height: 1000px;
}

.landingContent {
  border: 1px blue solid;
  height: 4459px;
}

.landingBestNovel {
  border: 1px #808080 solid;
  height: 1574px;
  margin: 152px 0;
}

.landingWriteNovel {
  border: 1px #808080 solid;
  height: 864px;
}

.landingWatchFunction {
  border: 1px #808080 solid;
  height: 1216px;
  margin: 250px 0;
}

.footer {
  border: 1px green solid;
  height: 498px;
}