.wholeMainPageWrapper {
  border: 1px red solid;
  width: 1920px;
  height: 3066px;
}

.mainpageContentWrapper {
  border: 1px purple solid;
  width: 100%;
  height: 2915px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderWrapper {
  border: 1px red solid;
  margin: 36px 0 0 0;
  width: 943px;
  height: 303px;
}

.mainPageNovelWrapper {
  border: 1px red solid;
  margin: 88px 0 0 0;
  width: 943px;
  height: 534px; 
}