.novelInfoWrapper{
  border: 1px blue solid; /* 반응형 고려시 총 width크기 참고하세유 */
  width: 943px; /* 어차피 이 길이보다 작으면 media-query줌*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; /* 이 것을 넣어야 창크기에 상관없이 중앙정렬 */
}


/* 컴퓨터에서 줄였을 때 */
@media (max-width: 943px) {
  .novelInfoWrapper{
    width: 704px;
  }
}
/* 아이패드 크기 */
@media (max-width: 768px) {
  .novelInfoWrapper{
    width: 469px;
  }
}
@media (max-width: 470px) {
  .novelInfoWrapper{
    width: 370px;
  }
}

/* 스마트폰(max) 크기 */
@media (max-width: 414px) {
  .novelInfoWrapper{
    width: 370px;
  }
}