.settingWrapper{
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.summaryBox{
  width: 100%;
  background-color: #006d76;
  height: 192px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 84px;
}

.userInfo{
  width: 943px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 600;
}

.userLeftBox{
  display: flex;
  align-items: center;
}

.userIcon{
  background-image: url('../asset/settingpage/account-circle.svg');
  width: 78px;
  height: 78px;
  margin-right: 16px;
}

.nicknameTitle{
  font-size: 24px;
  margin-bottom: 12px;
}

.changeNickname{
  font-size: 16px;
  background-color: #2b79fe;
  width: 133px;
  height: 35px;
  text-align:center;
  display: table-cell;
  vertical-align: middle;
}

.userRightBox{
  display: flex;
}

.totalAccumulated{
  margin-right: 64px;
}

.totalCloudTitle{
  font-size: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.cloudBox{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cloudNum{
  font-weight: 900;
  font-size: 50px;
  margin-right: 8px;
}

.cloudSVG{
  background-image: url('../asset/settingpage/cloud-white.svg');
  height: 31px;
  width: 48px;
}

.calendarBtn {
  background: #f3f3f4;
  background-image: url('../asset/settingpage/Calendar.svg');
  background-repeat: no-repeat;
  background-position: 16px center;
  width: 170px;
  height: 40px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  padding-left: 45px;
  color: #9292a7;
  font-weight: 400;
  cursor: pointer;
  box-sizing: border-box;
}

.cloudHistory{
  height: 1588px;
  width: 943px;
  display: flex;
  flex-direction: column;
}

.cloudHistoryTitle{
  font-size: 24px;
  font-weight: 900;
}

.cloudHistoryLists{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  padding: 24px;
}

.cloudLists{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  padding: 7px;
}

.leftSideDetails{
  display: flex;
  align-items: center;
}

.accumulation{
  border: 1px solid #2b79fe;
  border-radius: 100%;
  color: #2b79fe;
  font-weight: 900;
  margin-right: 16px;
  width: 82px;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cloudDate{
  font-size: 14px;
  color: #7e7e7e;
  margin-bottom: 4px;
}

.cloudInfo{
  font-size: 18px;
  font-weight: 900;
}

.cloudCounts{
  display: flex;
  align-items: center;
  color: #2b79fe;
  font-weight: 900;
  font-size: 24px;
}

.blueCloud{
  background-image: url('../asset/settingpage/cloud-blue.svg');
  height: 15px;
  width: 23px;
  margin-left: 8px;
  background-repeat: no-repeat;
}

/* 컴퓨터에서 줄였을 때 */
@media (max-width: 943px) {
  .userInfo,
  .cloudLists,
  .cloudHistoryLists {
    width: 704px;
  }
}

/* 아이패드 크기 */
@media (max-width: 767px) {
  .userInfo,
  .cloudLists,
  .cloudHistoryLists{
    width: 469px;
  }
}

/* 스마트폰(max) 크기 */
@media (max-width: 414px) {
  .userInfo,
  .cloudLists,
  .cloudHistoryLists {
    width: 370px;
  }
}