.WholeUserNav {
  width: 100%;
  height: 48px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
}

.userNavGreyUnderLine {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-bottom: solid 1px #f2f2f2;
  width: 943px;
  height: 48px;
}

.UserNavInnerWrapper {
  width: 943px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userNavLogo {
  width: 75px;
  height: 24px;
  background-image: url('../asset/usernav/userNav.svg');
  cursor: pointer;
}

.loginBtn {
  width: 45px;
  height: 24px;
  font-size: 16px;
  font-weight: bold;
  color: #202020;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

/* 컴퓨터에서 줄였을 때 */
@media (max-width: 943px) {
  .WholeUserNav,
  .userNavGreyUnderLine {
    width: 704px;
  }
}
/* 아이패드 크기 */
@media (max-width: 767px) {
  .WholeUserNav,
  .userNavGreyUnderLine {
    width: 469px;
  }
}
/* 스마트폰(max) 크기 */
@media (max-width: 414px) {
  .WholeUserNav,
  .userNavGreyUnderLine {
    width: 370px;
  }
}