.makeNewCommentWrapper {
  border: 1px #979797 solid;
  width: 100%;
}


.makeNewCommentUserName {
  margin: 24px 0 0 24px;
  width: 50%;
  height: 17px;
  font-size: 12px;
  font-weight: bold;
}

.makeNewCommentInputBox {
  margin: 16px 0 0 24px;
  width: 86%;
  height: 155px;
  border: none;
  resize: none;
  font-size: 15px;
  font-weight: bold;
}
.makeNewCommentInputBox::placeholder {
  color: #b8b8b8;
  font-size: 12px;
  font-weight: bold;
}
.makeNewCommentInputBox:focus {
  outline: 0;
}

.makeNewCommentTextCounter {
  position: relative;
  top: -2px;
  margin: 0 0 0 28px;
  width: 35px;
  height: 17px;
  font-size: 12px;
  font-weight: bold;
  color: #b8b8b8;
}

.makeNewCommentBtnWrapper {
  border-top: 1px #b8b8b8 solid;
  margin: 24px 0 0 0;
  width: 100%;
  height: 61px;
  display: flex;
  justify-content: flex-end;
}

  .makeNewCommentBtn {
    width: 105px;
    height: 100%;
    background-color: #2b79fe;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    display: grid;
    place-items: center;
    cursor: pointer;
  }