body {
  margin: 0 auto;
  font-family: 'NotoSansKR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*마우스포인터*/
button {
  cursor: pointer;
}
/*아웃라인*/
button:focus {
  outline: none;
}
/*클릭애니메이션*/
button:active {
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

a {
  text-decoration: none;
}

input:focus { outline: none; }
div:focus { outline: none; }
